<h1>Edit <%= @recipe.title %> </h1>

<h2>Ingredients: </h2>
<ol>
<% @ingredients_list.each do |i| %>
   <li> <a href="/recipes/<%= i.id%>/edit-ingredient"><%= i.name %></a> </li>
 <% end %>
</ol>

<a href="/recipes/<%= @recipe.id %>/edit-ingredient" class="btn btn-warning" id="recipe-butts">Add Ingredients</a>

<br>

<h2>Directions</h2>
<ol>
<% @recipe_list.each do |d| %>
   <li> <a href="/recipes/<%= d.id%>/edit-directions"><%= d.directions %></a> </li>
 <% end %>
</ol>

<br>

<a href="/recipes/<%= @recipe.directions %>/edit-directions" class="btn btn-primary" id="recipe-butts">Add Directions</a>

<br><br>
<a href="/" class="btn btn-danger" id="recipe-butts">Home</a>
