<h1>Edit <%= @recipe.title %> </h1>


<p> <%= @recipe.rating %> </p>

<form id="rating-form" action="/recipes/<%= @recipe.id %>" method="post">
  <label for="rating"><h3>Recipe Rating: </h3></label>
  <select name="rating" class="form-control">
    <option value="nil">-select-</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br>
  <button type="submit" class="btn btn-danger" id="recipe-butts">Add</button>
  <br>
</form>

<% @ingredients.each do |ingredient| %>
   <li> <%= ingredient.name %> </li>
   <br>
 <% end %>

<form id="ingredients-form" action="/recipes/<%= @recipe.id %>" method="post">
  <label for="ingredients"><h3>Ingredients: </h3></label>
  <input type="text" name="ingredients" class="form-control" placeholder="Enter Ingredient">
  <br>
  <button type="submit" class="btn btn-danger" id="recipe-butts">Add</button>
</form>
  <br>

  <%= @recipe.directions %>


<form id="directions-form" action="/recipes/<%= @recipe.id %>" method="post">
  <label for="directions"><h3>Recipe Directions: </h3></label>
  <input type="text" name="directions" class="form-control" placeholder="Enter Directions">
  <br>
  <button type="submit" class="btn btn-danger" id="recipe-butts">Add</button>
</form>
  <br>

<div id="home-butts">

  <a href="/" class="btn btn-warning" id="recipe-butts">Home</a>

</div>
